input {
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #333;
  padding: 6px 8px;
  width: 50%;
}

section {
  background-color: white;
  border-radius: 8px;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.4);
  margin: 20px 0;
  padding: 30px;
}

.Dictionary {
  text-align: center;
}

.Dictionary h1{
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Results h1 {
  text-transform: capitalize;
}

.Background {
  background-color:  #dddbcb;
  padding: 20px;
  border-radius: 8px;
}

